{% extends 'base.html' %}

{% block head %} <!--References blocks in base.html and will inherit the rest of the file-->
    <title>Home</title>
{% endblock %}

{% block body %} 
    <form action="/logout" method="POST">
        <label>Nav Bar</label>
        <button type="submit" name="button" value="logoutButton">Logout</button>
    </form>

    <div class="container">
        <h1>Home</h1>
        <h2>Welcome, {{firstName}}</h2>
        <form class="form-addPhoto" action="/upload-image" method="POST">
            <label for="addNewPhoto">Move to add photos page:</label>
            <input type="submit" name="button" value="addNewPhoto">
        </form>
    </div>

    <div></div>
    <div>
        <h2>Photos in {{firstName}}'s Database</h2>
        <form action="/logout" method="POST">
            <label>Nav Bar</label>
            <button type="submit" name="button" value="logoutButton">Logout</button>
        </form>
        
        <div>
            <form method="POST">
                <button class="home editphotos" type="submit" name="button" value="editPhotosButton" method="POST">Edit Photos</button>
            </form>
            {% for urls in images %}
                <!--{{urls}}-->
                <img src={{urls}} width="200" height="200">
                
            {% endfor %}
        </div>
        <div>
            {% for iN in imgNames %}
                <p display=inline width="200">{{iN}}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}