{% extends 'loggedin.html' %}
{%block content%}

<!--References blocks in base.html and will inherit the rest of the file-->
    <title>Home</title>
    <br>

    <div class="container">
      <h2> Welcome, {{firstName}}</h2>
      <br>
      <hr> 
      
      {% if user_names %}
        <div class="container">
          <h2>Permitted Users (Owner feature):</h2>
          <p>Select who is allowed entry:</p>

          <form method="POST">
            {% for name in user_names %}
              {% if name in admitted_names %}
                <div>
                  <input type="checkbox" id={{name}} name=persons value={{name}} checked>
                  <label for={{name}}>{{name}}</label>
                </div>
              {% else %}
              <div>
                <input type="checkbox" id={{name}} name=persons value={{name}}>
                <label for={{name}}>{{name}}</label>
              </div>
              {% endif %}
            {% endfor %}
            <br>
            <button class="btn btn-sm btn-primary btn-block" type="submit" name="button" value="submitPersonsButton" method="POST">Submit</button>
          </form>
        </div>
        <!--Do something with the selections-->
      {% endif %}

      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Image Gallery</h1>
    
      <hr class="mt-2 mb-5">
    
      <div class="row text-center text-lg-left">
        {%for urls in images %}
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4">
                <img class="img-fluid img-thumbnail w-500 h-250" src="{{urls}}"  alt="">
              </a>
        </div>
        {%endfor%}
     
      </div>
    
    </div>


</div>


    <!-- 

       <div class="row">

        {% for urls in images%}

  
        <div class="col-lg-4 col-md-12 mb-4">
  
          <img src="{{urls}}" class="img-fluid mb-4" alt="">

  
        </div>

        {%endfor%}
  
        
      </div>
    -->
  

  

{% endblock content %}
