{% extends "base.html"%}
{%block content%}

    <br> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to FiDDL</h1>
          <p class="lead">Please select one of the following</p>
          <br> <br> 
        </div>
      </div>

          
    {% with messages = get_flashed_messages() %}
    <!--Check if there are any messages-->
    {% if messages %}
        <!--Loop through the messages-->
        {% for msg in messages %}
            <p style="background-color:burlywood;">{{msg}}</p>
        {% endfor%}
        {% endif %}
    {% endwith %}

    <div class="container">

        <form method="POST">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  🔒
                </span>
                <input type="text" class="form-control" placeholder="Email" id="inputEmail" name="email" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              
              <br> 
    
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  📧
                </span>
                <input type="password" class="form-control" placeholder="Password" id="inputPassword" name="password" aria-label="Password" aria-describedby="basic-addon1">
              </div>
    
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <input class="form-check-input mt-0"  type="checkbox" value="remember-me" aria-label="Checkbox for following text input">
                </div>
                <input type="text"  readonly class="form-control" aria-label="Text input with checkbox" placeholder="Remember me">
              </div>
    
            <hr> 
              <button type="submit" class="btn btn-primary btn-lg" name="button" value="login">Login</button>
        
        </form>
        
         
    </div>
   
  {%endblock content%}