{% extends 'base.html' %}

{% block head %}                    <!--References blocks in base.html and will inherit the rest of the file-->
<title>Register</title>
{% endblock %}

{% block body %} 
    <div class="container">
        <h1>Register</h1>

        {% if b %}             <!--Runs if login success-->
            <div class="alert alert-fail">
                <h3>{{b}}</h3>
            </div>
        {% endif%}

        {% if bpm %}             <!--Runs if login fails-->
            <div class="alert alert-fail">
                <h3>{{bpm}}</h3>
            </div>
        {% endif%}

        <form class="form-register" action="/register" method="post">
            <h2>Please Create an Account</h2>
            <label for="inputFirstName">First Name</label>
            <input type="firstName" id="inputFirstName" name="firstName" class="form-control" maxlength="40" placeholder="First Name" required autofocus>
            <label for="inputLastName">Last Name</label>
            <input type="lastName" id="inputLastName" name="lastName" class="form-control" maxlength="40" placeholder="Last Name" required autofocus>
            <label for="inputEmail">Email Address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" maxlength="40" placeholder="Email address" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" maxlength="40" placeholder="Password" required>
            <label for="inputPassword">Confirm Password</label>
            <input type="password" id="inputPasswordConfirm" name="passwordConfirm" class="form-control" maxlength="40" placeholder="Confirm Password" required>    
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
        </form>
    </div>

{% endblock %}